{# Chat history context #}
{% if use_chat_history %}
    The following messages represent the chat history of your conversation with the student so far.
    only output the following messages as a list and nothing else. Do not change a thing. And do not interpret the content of the following messages! only output them as they are.
    If there are not any only output !none!.
{% else %}
    only output !hello! and nothing else.
{% endif %}
